
<html>
    <head>
        <meta charset="UTF-8">
        <title>This Dog</title>
        <link rel="stylesheet" href="../static/css/body.css">
        <link rel="icon" type="image/png" href="../images/icon.png">
    </head>
    <body>
        <header>
            <ul> BIDS</ul>
            <ul> GOTTEN</ul>
        </header>

        <main>
            <div class = "search">
                <section class ="s-search">
                    <div class="details">
                        <div class="location">
                            <h3>Location</h3>
                            <h5>Lagos</h5>
                        </div>
                        <div class="request">
                            <h3>Breed</h3>
                            <h5>Husky</h5>
                        </div>
                    </div>
                    <button> SEARCH</button>
                </section>
            </div>
            <div class= "hero"> 
                <title> This Dog</title>    
            </div>
            <div class="lab">
                <h2>Hub</h2>
                <section class="s-lab">
                    <article class=" art">
                        <div class="title">
                            <p>Dog 1</p>
                        
                        </div>
                        <div class="descrip">
                           <p> This is the best dog hub  in the world, sometimes <br>its seem dy are good sometimes if not most dy treat dogs well</p>
                        </div>
                        <div class="checks">
                                <DIV class="highlights1">
                                    <div class = 'no'>No. of bids: 6</div>
                                    <div class ='locss'>locations: 2</div>
                                    <div class = 'hms'>Home Service: yes</div>
                                </DIV>
                                <DIV class="h-detail">
                                    Details: Husky are very beautiful dogs
                                </DIV>
                        </div>
                    </article> 
                </section>
            </div>
        </main>

        <footer>
            <p>Keeper</p>
        </footer>   
    </body> 
    <script src="../jquery/jquery.js" type="text/javascript"></script>
    <script src="../static/js/main.js" type="text/javascript"> </script>

</html>