<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>This Dog</title>
        <link rel="stylesheet" href="../static/css/body.css">
        <link rel="icon" type="image/png" href="../images/icon.png">
        {% block head %} 
        {% endblock %}
    </head>
    <body>
        <div class = "search">
            <section class ="s-search">
                <div class="details">
                    <div class="location">
                        <h3>Location</h3>
                        <h5>Lagos</h5>
                    </div>
                    <div class="request">
                        <h3>Breed</h3>
                        <h5>Husky</h5>
                    </div>
                </div>
                <button> SEARCH</button>
            </section>
        </div>

        {% block body %}
        {% endblock %}

        <footer>
            <p>Keeper</p>
        </footer>   
    </body> 
    <script src="jquery/jquery.js" type="text/javascript"></script>
    <script src="js/main.js"> </script>

</html>

