{% extends "base.html" %}

{% block body %}
        <main>
            <div class= "hero"> 
                <title> This Dog</title>    
            </div>
            <div class="lab">
                <h2>Hub</h2>
                <section class="s-lab">
		    {% for dog in dogs["dogs"] %}
                    	<article class=" art">
				<div class="title">
					<h1>{{ dog['name'] }}</h1>
					<h5>{{ dog['breed'] }}</h5>
				</div>
				<img src="{{ dog['image'] }}" alt="dog picture">
                        	<div class="descrip">
			    		<p>Aggression level:{{ dog['aggression'] }} </p>
			    		<p>Intelligence level:{{ dog['intel'] }}</p>
				</div>
                        	<div class="checks">
                                	<div class="highlights1">
                                    		<div class = 'no'>No. of bids: 6</div>
                                    		<div class ='locss'>locations: 2</div>
                                    		<div class = 'hms'>Home Service: yes</div>
                                	</div>
                                </div>
				<div class="h-detail">
                                   <h1>Details: Husky are very beautiful dogs</h1>
                                </div>
                    	</article>
		    {% endfor %} 
                </section>
            </div>
	</main>
{% endblock %}

