{% extends "base.html" %}

{% block body %}
    <main>
		<div class="lab">
			<h2>Hub</h2>
			<section class="s-lab">
		{% for dog in dogs["dogs"] %}
				<article class=" art">
					<div class="title">
						<h3>{{ dog['name'] }}</h3>
						<h5>{{ dog['breed'] }}</h5>
					</div>
					<img src="{{ dog['image'] }}" alt="dog picture">
					<div class="checks">
							<div class="highlights1">
									<div class='no'>
										Aggression level:{{ dog['aggression'] }} 
									</div>
									<div class='locss'>Intelligence level:{{ dog['intel'] }}</div>
									<div class='locss'>Description:{{ dog['descrip'] }}</div>
							</div>
					<button> Make Bid</button>
					</div>
				</article>
		{% endfor %} 
			</section>
		</div>
	</main>
{% endblock %}

